<app-nav>
</app-nav>

<sky-toolbar>
  <div class="sky-container stache-container">
    <sky-toolbar-section>
      <sky-toolbar-item>
        <sky-toolbar-item>
          <button type="button" class="sky-btn sky-btn-default" (click)="openModal('defaultModal')">
            Add application
          </button>
        </sky-toolbar-item>
      </sky-toolbar-item>
    </sky-toolbar-section>
  </div>
</sky-toolbar>

<stache class="my-app-wrapper">
  <stache-row>
    <stache-column screenSmall="3" *ngFor="let app of myApps">
      <app-partner-tile [app]="app" (openModal)="onOpenModal($event)">
      </app-partner-tile>
    </stache-column>
  </stache-row>
</stache>
