.stache-layout {
  background-color: #e2e2e2 !important;
}

.stache-row {
  flex-wrap: wrap;
}

.stache-column {
  padding-bottom: 30px;
}

.stache-hero-override {
  .stache-hero {
     background-position-y: -400px !important;
    @media (max-width: 1850px) {
      background-position-y: -400px !important;
    }
    @media (max-width: 1700px) {
      background-position-y: -330px !important;
    }
    @media (max-width: 1500px) {
      background-position-y: -285px !important;
    }
    @media (max-width: 1350px) {
      background-position-y: -250px !important;
    }
    @media (max-width: 1199px) {
      background-position-y: -200px !important;
    }
    @media (max-width: 992px) {
      background-position-y: initial;
      background-position: center !important;
    }
    .stache-hero-body {
      max-width: 100%;

      h1.stache-hero-heading {
        font-size: 3.5em;
        font-family: 'Open sans';
        font-weight: 200;
      }

      h2.stache-hero-subheading {
        font-size: 1.5em;
        font-weight: 100;

        span.hero-bb-span {
          font-weight: 100;
        }

      }

      img {
        height: 1em;
        vertical-align: top;
        margin-right: 5px;
      }
    }
  }
}


