<div class="app-card">
  <header class="app-header">
    <div class="media">
      <div class="media-object">
        <img src="{{app.logo_url}}" alt="">
      </div>
      <div class="media-body">
        <h1 class="media-heading">
          {{app.name}}
        </h1>
        <h2 class="media-subheading">
          {{app.organization.name}}
        </h2>
      </div>
    </div>
  </header>
  <div class="app-body">
    <p>
      {{app.description}}
    </p>
    <app-rating [value]="app.rating.value">
    </app-rating>
  </div>
</div>
