<div class="partner-tile" (click)="open()">
  <header class="partner-tile-header">
    <stache-media [imageSrc]="app.logo_url" [mediaTitle]="app.name">
      <h2 class="stache-media-subheading">
        <a href="#">{{app.organization.name}}</a>
      </h2>
    </stache-media>
  </header>
  <div class="partner-tile-body">
    <p class="partner-tile-description">
      {{app.description}}
    </p>
    <div class="partner-tile-rating">
      <app-rating [value]="app.rating_total.value">
      </app-rating>
    </div>
  </div>
</div>
