<app-nav>
</app-nav>

  <sky-toolbar>
    <sky-toolbar-item class="sky-container">
      <sky-search
        [placeholderText]="'Search the Apps'"
        [searchText]="searchText"
        (searchApply)="searchApplied($event)"
        >
      </sky-search>
    </sky-toolbar-item>
  </sky-toolbar>
<stache>
  <stache-row>
    <stache-column screenSmall="3" *ngFor="let app of displayedApps">
      <app-partner-tile [app]="app" (openModal)="onOpenModal($event)">
      </app-partner-tile>
    </stache-column>
  </stache-row>
</stache>
