:host {
  display: inline-block;
}
.app-rating {
  ul {
    list-style-image: none;
    margin: 0;
    padding: 0;

    li {
      color: #71bf43;
      display: inline-block;
      & + li {
        margin-left: 2px;
      }
    }
  }
}
