<sky-modal>
  <sky-modal-header>
    <stache-media [imageSrc]="context.application.logo_url" [mediaTitle]="context.application.name">
      <h2 class="stache-media-subheading">
        <a href="#">{{context.application.organization.name}}</a>
      </h2>
    </stache-media>
  </sky-modal-header>
  <sky-modal-content>
    <app-rating [value]="context.application.rating_total.value">
    </app-rating>
    <span class="rating-total" (click)="show()"> ({{ context.application.ratings.length }} reviews)</span>
    <div class="partner-tile-tags">
      <span *ngFor="let tag of context.application.tags" class="partner-tile-tag"><i class="fa fa-tag" aria-hidden="true"></i>{{tag}}</span>
    </div>
    <p class="partner-app-detail-modal-description">
      {{context.application.description}}
    </p>
    <partner-app-carousel [slides]="slides">
    </partner-app-carousel>
    <div *ngIf="showRatings">
      <p *ngFor="let rating of context.application.ratings; let i = index;">
        {{ rating.comment}}
      </p>
    </div>
  </sky-modal-content>
</sky-modal>
