@import '../../../../node_modules/@blackbaud/stache/src/styles/_variables.scss';

.header-image-container {
  width: 20%;
  height: 50px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.header-text {
  width: 77%;
  display: inline-block;
  margin-left: 2%;
  h1 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 16px;
  }
}

.rating-total {
  color: $stache-color-link;
  &:hover {
    cursor: pointer;
  }
}

.partner-app-detail-modal-description {
  margin-top: 6px;
  margin-bottom: 20px;
}

/deep/
.stache-media-heading {
  font-size: 2em !important;
}

/deep/
.sky-modal {
  border: 0 !important;

  .sky-modal-header {
    background-color: #f7f7f7 !important;
  }

  .sky-modal-header-buttons {
    position: absolute;
    top: 0;
    right: 0;

    > .sky-btn {
      font-size: 1.5em;
    }
  }
}

.partner-tile-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0;

  .partner-tile-tag {
    margin-right:10px;
    color: #1c84c6;
    i {
      margin-right: 5px;
    }
  }
}